{% extends "base.html.jinja2" %}
{% block title %}{% endblock %}
{% block content %}
<div class="h-card">
<a class="u-url" rel="me" href="https://trenton.cc"></a>
<p class="p-note">I'm a software engineer and am interested in how technology can empower 
communities to face our changing climate and strengthen democracies.</p>
<p>If you want to reach out, you can send me an 
<a class="u-email" href="mailto:mail@trenton.cc" rel="me">email</a> or find me on 
<a href="https://mastodon.online/@trenton" rel="me">Mastodon</a> and 
<a href="https://github.com/trenton-su" rel="me">GitHub</a>.</p>
</div>

<div class="row">
{% for f in posts if f["featured"] %}
{% if loop.index <= 3 %}
<div class="column">
    <a href="posts/{{ f.slug }}.html">
        <img class="featured" alt="{{ f.blurb }}" src="{{ f.gallery_image }}"></img>
        <div class="overlay">
            <div class="text">{{ f.title }}</div>
        </div>
    </a>
</div>
{% endif %}
{% endfor %}
</div>

<ul class="posts">
{% for p in posts if not p["featured"] %}
<li><a href="posts/{{ p.slug }}.html">{{ p.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}
